body, html {
    width: auto;
    height: 100%;
    padding: 0;
    background-color: white !important;
    font-family: Georgia, 'Nimbus Roman No9 L', 'Century Schoolbook L', serif !important;
    line-height: 1.45 !important;
    margin: 1vh 0 0;
    color: black !important;
    font-size: 1.08em !important;
    overflow-wrap: break-word !important;
}

textarea {
    width: 100%;
    height: 15.70em;
    resize: none;
    border-radius: 0.5em;
    border-color: white;
    color: rgba(255, 255, 255, 0);
}

.exercise-body {
    margin-left: 20vw;
    margin-right: 20vw;
}

h1, h2, h3 {
    font-family: "Cinzel", "Droid Serif", "sans-serif" !important;
    letter-spacing: 2px;
    font-weight: 700 !important;
    font-size: 1.4em !important;
    margin: 1em !important;
    margin-left: 0 !important;
    white-space: nowrap !important;
}

li {
    line-height: 1.6 !important;
}

a {
    color: #9f82b2 !important;
    font-weight: 600;
}

code {
    color: #00f !important;
    font-family: monospace;
    font-size: 1em !important;
}

.string {
    color: #a11;
}

.number {
    color: #164;
}

.call {
    color: #708;
}

.def {
    color: #00f;
}

.type {
    color: #00f;
}

.code-block {
    font-family: monospace;
}

.code {
    font-family: monospace;
    font-size: 0.90em;
}

span, .string, .number, .call, .def, .code, .type {
    font-family: monospace !important;
}

.root__container {
    display: block;
    width: 100vw;
    height: fit-content;
}

button {
    border: none;
    border-radius: 1em !important;
}

.hint {
    max-height: 20vh;
    height: auto;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

.hidden-hint {
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.CodeMirror {
    /* Bootstrap Settings */
    box-sizing: border-box;
    margin: 0;
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: none; /* Bootstrap 4 */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    /* Code Mirror Settings */
    font-family: monospace;
    position: relative;
    overflow: hidden;
  }
      
  .CodeMirror-focused {
    /* Bootstrap Settings */
    border-color: lightblue;
    outline: 0;
    box-shadow: 0 0 0 .05rem lightblue; /* Bootstrap 4 */
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  }

  /* Bootstrap Shims */